<?xml version="1.0"?>
<ruleset name="Meta Embeds">
	<description>Coding standards for Meta Embeds for WordPress.</description>

	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/build/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/>
	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<!-- Rules -->
	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="PHPCompatibilityWP"/>

	<config name="testVersion" value="7.4-"/>
	<config name="minimum_supported_wp_version" value="5.9"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="meta-embeds"/>
			</property>
		</properties>
	</rule>
</ruleset>
